select-multiple-modal {

    ion-grid {
        height: 100%;
        justify-content: center;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
  
}
