.ios, .md{

    page-queue {
        ion-header{

            @media(max-width:639px) {
                .ipadButtons{
                    visibility: hidden;
                    display: none;
                }
            }
    
            @media(min-width:640px) {
                .phoneButtons{
                    visibility: hidden;
                    display: none;
                }
            }
        
            .header-logo{
                max-height: 48px;
                padding-left: 19px;
            }

            .second-navbar {
                color: $gris;
                background-color: $gris01;
                font-size: 16px;
        
                p {
                    padding: 16px;
                    padding-right: 0px;
                    font-family: "Roboto-Medium";
                    margin: 0px;
                    background-color: $gris01;
                }
            }
        }

        ion-content{
            background-color: $gris02;

            .outer-list{
                margin-top: 0px;
                margin-bottom: 0px;
                background-color: $gris;

                .outer-list-header{
                    padding-left: 15px;

                    .textSettings{
                        margin-top: 11px;
                        margin-bottom: 11px;
                        padding: 0px;
                        font-size: 18px;
                        font-family: "Roboto-Regular";
                        letter-spacing: 1px;
                        color: $blanco;                    
                    }
                    .contacts-number{
                        color: $verde;
                      }
                }
            }

            .Icon{
                font-size: 2em;
                color: #6CC14A;
            }

            .logout{
                font-size: 2em;
                color: red;
            }


            .activity-card {
                &.disabled {
                    opacity: 0.6;
                }

                .repeated{
                  opacity: 0.5;
                }
          
                .card-content {
                  padding-right: 16px;
                }
              
                .background-card {
                    background-color: white;
                    margin-left: 0px;
                    height: 100%;
                }
                .foreground-card {
                    position: relative;
                }
                .buttonSendTask {
                    position: absolute;
                    left: 0px;
                    transform: scaleX(-1);
                    height: 2.5em;
                    padding: 0px;
                    background-color: white;
                    color: color($colors, primary);
                }
                .buttonClearTask {
                    position: absolute;
                    right: 0px;
                    height: 2.5em;
                    padding: 0px;
                    background-color: white;
                    color: color($colors, danger);
                }
                .wrapper-color-state-open {
                    background-color: color($colors, primary);
                    height: 100%;
                }
                .wrapper-color-state-close {
                    background-color: color($colors, secondary);
                    height: 100%;
                }
                .wrapper-color-state-danger {
                    background-color: color($colors, danger);
                    height: 100%;
                }
          
                .borderInput{
                  border-bottom: 1px solid #dedede;
                }

                .task-type{
                    text-align: center;
                    color: black;
                    font-family: "Roboto-Medium";
                    padding-bottom: 10px;
                }

                .task-title{
                    text-align: center;
                    padding-bottom: 10px;
                }

                .task-error{
                    text-align: center;
                    color: red;
                }
          
              }

        }
    }
}